.hero__section {
	background: var(--hero-bg);
}
.hero__content {
	padding-top: 45px;
}
.hero__content h2 {
	color: var(--primary-color);
	font-size: 2.5rem;
	font-weight: 600;
	margin: 20px 0px;
}
.hero__content p {
	color: var(--primary-color);
	line-height: 28px;
}
.hero__content p:nth-child(1) {
	font-weight: 500;
}
.buy__button {
	outline: none;
	border: none;
	background-color: var(--primary-color);
	color: #fff;
	padding: 8px 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	margin-top: 40px;
}
.buy__button a:hover {
	color: #fff;
}
.timer__count {
	background: var(--primary-color);
	height: 300px;
}
.timer__count img {
	height: 70% !important;
	width: 70% !important;
	object-fit: contain;
}
.store_btn {
	background: #fff;
	color: var(--primary-color);
	font-size: 0.9rem;
	font-weight: 600;
}
.store_btn a:hover {
	color: var(--primary-color);
}
@media only screen and (max-width: 992px) {
	.hero__content h2 {
		font-size: 2rem;
	}
	.section__title {
		font-size: 1.6rem;
	}
}
@media only screen and (max-width: 768px) {
	.hero__content h2 {
		font-size: 1.6rem;
	}
	.hero__content p {
		font-size: 0.9rem;
	}
	.hero__content .buy__button {
		font-size: 0.9rem;
	}
	.counter__image {
		display: none;
	}
	.clock__top-content h3 {
		font-size: 1.1rem !important;
	}
	.clock__top-content h2 {
		font-size: 1rem !important;
		margin-bottom: 1rem !important;
	}
	.timer-col {
		text-align: center;
	}
}
@media only screen and (max-width: 576px) {
	.hero__content {
		padding-top: 0;
		margin-bottom: 40px;
	}
}
