.auth__form {
	background: var(--primary-color);
	padding: 40px;
	border-radius: 15px;
}
.auth__button {
	background: #fff;
	color: var(--primary-color);
	font-weight: 600;
}
.auth__form p {
	margin-top: 30px;
}
.auth__form p a {
	color: #ffffffcb;
}
.auth__form input[type="file"] {
	color: #fff;
	cursor: pointer;
}
