.product__details {
	margin-top: 50px;
}
.product__details h2 {
	font-size: 1.7rem;
	margin-bottom: 10px;
}
.product__rating span i {
	color: coral;
}
.product__rating p span {
	color: coral;
}
.product__price {
	font-size: 1.3rem;
	font-weight: 500;
}
.tab__wrapper {
	color: var(--primary-color);
	font-size: 1.2rem;
	font-weight: 500;
}
.tab__wrapper h6 {
	cursor: pointer;
}
.active__tab {
	font-weight: 700;
}
.teb__content p {
	line-height: 30px;
}
.review__wrapper ul li span {
	color: coral;
	font-weight: 600;
}

.review__wrapper ul li p {
	margin-top: 10px;
}

.review__form {
	width: 70%;
	margin: 50px auto 0px;
}
.review__form h4 {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 30px;
}
.form__group {
	margin-bottom: 30px;
}
.form__group input,
.form__group textarea {
	width: 100%;
	border: 1px solid var(--primary-color);
	padding: 8px 20px;
	border-radius: 5px;
}
.form__group input:focus,
.form__group textarea:focus {
	outline: none;
}
.form__group span {
	display: flex;
	align-items: center;
	column-gap: 5px;
	color: coral;
	cursor: pointer;
}
.related__title {
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
	.product__details h2 {
		font-size: 1.4rem;
	}
	.rating__group {
		column-gap: 1rem !important;
		/* display: none; */
	}
}
